{% extends "auctions/layout.html" %}

{% block body %}
    <h1>WatchList</h1>
    <div class="listing-container">
    {% for listing in fav_listings %}
        <div class="listing">
            <div class="listing-info item-name"> {{listing.name}} </div>
            <div class="listing-info item-image"> <a href="{% url 'item' listing.id %}"><img src='{{listing.image}}'></a> </div>
            <div class="listing-info item-description"> {{listing.description}} </div>
            <div class="listing-info item-price"> {{listing.max_bid}}<span>$</span> </div>
        </div>
    {% endfor %}

{% endblock %}
